body {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 100%;
    margin: 0 auto;
}

.logo_search {
    display: block;
    margin: 50px auto;
    text-align: center;
    width: 500px;
    height: 200px;
}

.searchWindow {
    width: 500px;
    margin: 10px auto;
}

.searchResults {
    display: block;
}

div.gsc-results-wrapper-overlay.gsc-results-wrapper-visible {
    margin-top: 300px;
}

input.gsc-search-button.gsc-search-button-v2 {
    background-color: #4d90fe;
    border-color: #3079ed;
}
